{% extends 'base.html' %}

{% block title %}Uploads{% endblock %}

{% block content %}

    <h2>Here are the current list of files that have been uploaded</h2>
    <br>

    <div class="row">
        <div class="col-sm-12">
            <a href="{{ url_for('exe_files') }}" class="btn btn-primary" role="button">Add EXE to files</a>
            <a href="{{ url_for('mutate_files') }}" class="btn btn-warning" role="button">Mutate all files</a>
            <a href="{{ url_for('delete_files') }}" class="btn btn-danger" role="button">Delete ALL files</a>
        </div>
    </div>

    <table class="table table-bordered table-dark mt-3">
        <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">File Hash</th>
        </tr>
        </thead>

        <tbody>
        {% for x in files_list %}
            <tr>
                <th scope="row"><a href="{{ url_for('list_uploaded_files') }}/{{ x["file_name"] }}">{{ x["file_name"] }}</a></th>
                <td>{{ x["file_hash"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}