{% extends 'base.html' %}

{% block title %}Uploads{% endblock %}

{% block content %}

    <h2>Here are the current list of files that have been uploaded</h2>

    <a href="{{ url_for('exe_files') }}" class="btn btn-primary" role="button">Add EXE to files</a>

    <ul class="list-group list-group-flush">
        {% for filename in list_of_files %}
            <li class="list-group-item"><a href="{{ url_for('list_uploaded_files') }}/{{ filename }}">{{ filename }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}